<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form id="login-form">
        <h2>Login</h2>
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="username" required>

        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password" required>

        <button type="submit">Login</button>
        <span>&nbsp;</span>
    </form>

    <ul>
        <li><a href="/register">Registrarse</a></li>
    </ul>

</body>
<script>
    const qs = (el) => document.querySelector(el);

    const loginForm = qs('#login-form');
    const loginSpan = qs('#login-form span');

    loginForm?.addEventListener('submit', e => {
        e.preventDefault();

        const username = qs('#login-username').value;
        const password = qs('#login-password').value;

        fetch('/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username, password })
        })
        .then(res => res.json())
        .then(data => {
            if (data.message) {
                loginSpan.innerText = data.message;
                loginSpan.style.color = "green";
                setTimeout(() => {
                    window.location.href = `/protected?username=${encodeURIComponent(data.user.username)}`;
                }, 1000);
            } else {
                loginSpan.innerText = data.error || "Error al iniciar sesión";
                loginSpan.style.color = "red";
            }
        });
    });
</script>
</html>
